doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        title Avantis Pump
    body 
        header.header 
        main.main 
            .main--greeting
                .base-container 
                    .greeting-parent 
                        .greeting-parent__container 
                            .greeting-parent__header Начни инвестировать в стратегию Pump & Dump
                            .greeting-parent__subheader Avantis Pump – самая удобная площадка для участия в pump сессиях. Переходите в Telegram бота и начните зарабатывать прямо сейчас 
                            .greeting-parent__button Инвестировать сейчас 
                            .greeting-parent__companies 
                                img(src="./assets/images/content/binanceLogo.svg", alt="").greeting-parent__image
                                img(src="./assets/images/content/coinMarketLogo.svg", alt="").greeting-parent__image
                                img(src="./assets/images/content/blockchain.svg", alt="").greeting-parent__image
                                img(src="./assets/images/content/bitfinex.svg", alt="").greeting-parent__image
                                img(src="./assets/images/content/principal.svg", alt="").greeting-parent__image
            .main--about
                .base-container
                    .about-parent
                        img(src="./assets/images/content/globeGif.png", alt="").about-parent__image
                        .about-parent__container 
                            .about-parent__header Что такое Pump & Dump?
                            .about-parent__content Pump & Dump – манипулятивная схема повышения курса криптовалюты с последующим ценовым обвалом. Крупные владельцы активов искусственно повышают («накачивают», pump) их стоимость, чтобы впоследствии продать («сбросить», dump) максимально дорого мелким трейдерам. В результате стоимость актива снижается, а инвесторы теряют средства.
            .main--stock 
                .stock-parent__animation-container 
                    img(src="./assets/images/content/stock.svg", alt="").stock-parent__stock-images
                .base-container
                    .stock-parent
                        .stock-parent__container 
                            .stock-parent__header Как работает pump&dump
                            .stock-parent__content 
                                .stock-parent__par Выбрав биржу и монету, трейдеры Avantis скупают токены небольшими порциями, чтобы не спровоцировать преждевременный рост курса. Как правило, это малоизвестные криптовалюты с низкой капитализацией. Иногда для pump & dump используются и относительно крупные криптовалюты.
                                .stock-parent__par После скупки токена начинается pump – его «накачка». В мессенджерах, новостных лентах, социальных сетях и биржевых чатах анонсируется скорый рост курса и сообщается название биржевой площадки. Котировки поднимаются. Это первая волна пампа.
                                .stock-parent__par В случае успешной рекламной кампании начинается вторая волна пампа — приходят сторонние инвесторы, которые самостоятельно влияют на рост курса. На фоне ажиотажа цена растет, организаторы продают токены по завышенной стоимости, после чего курс криптовалюты возвращается к исходным показателям.
                            .stock-parent__stock-screener 
            
            .main--process 
                

        footer.footer